<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Max</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    {{> navbar}}
    <section id="bodyAbout">
        <section id="box1">
            <img src="../img/background-about.jpg">
        </section>
        <section id="box2">
            <img src="../img/max.png">
            <h3>Innovating in technology since 2013</h3>
            <p>Jaume Cortés founded Max Assistant S.L. in Valencia, Spain. This</p>
            <p>was the beginning of a continuous journey into the future, making</p>
            <p>people's lives easier.</p>
        </section>
        <section id="box3">
            <section id="slides">
                <ul>
                    <li><img src="../img/slide-1.jpg"></li>
                    <li><img src="../img/slide-2.jpg"></li>
                    <li><img src="../img/slide-3.jpg"></li>
                    <li><img src="../img/slide-1.jpg"></li>
                </ul>
            </section>
        </section>
        <section id="box4">
            <img src="../img/assistant.jpg">
            <section id="box4-text">
                <h3>Max Assitant S.L.</h3>
                <p>In the year 2013, Max Assistant emerged and showed the world the innovation they</p>
                <p>brought. With the first Max model, it was sold out in a short time and more had to be manufactured
                </p>
                <p>due to its demand. Today we continue to grow and evolve to offer the best services to</p>
                <p>our customers. And remember, Max your <span>assistant</span> and friend</p>
            </section>
        </section>
        {{> footer}}
    </section>
</body>

</html>