<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom support</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/support.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    {{> navbar}}
    <br>
    <section id="bodySupport">
        <section class="box1">
            <section class="box1-1">
                <h1>Max Assitant, your assistant and friend</h1>
                <p>You don't know what is Max Assistant? Try it and discover its utilities and give your life a big
                    change</p>
            </section>
            <section class="box1-2"></section>
        </section>
        <section class="box2">
            <section class="box2-card">
                <img
                    src="https://support.apple.com/content/dam/edam/applecare/images/en_US/promo_icons/promo-icon-homepage-password_2x.png">
                <h3>Location</h3>
                <p>Av. dels Tarongers, 17</p>
                <div class="send">
                    <a href="https://goo.gl/maps/E3mtTQV9GjjxNuwk8" target="_blank">Maps</a>
                    <span class="material-symbols-outlined">chevron_right</span>
                </div>
            </section>
            <section class="box2-card">
                <img
                    src="https://support.apple.com/content/dam/edam/applecare/images/en_US/promo_icons/promo-icon-homepage-repair_2x.png">
                <h3>Max Repairs</h3>
                <p>If you have a problem with your assistant <br> don't dude to ask our professionals agents</p>
            </section>
            <section class="box2-card">
                <img src="https://goodenglish.es/wp-content/uploads/2015/06/tlf.png" class="img">
                <h3>Contact</h3>
                <p>932 023 671</p>
                <p>max-assistant@gmail.com</p>
            </section>
        </section>
    </section>
    {{> footer}}
</body>

</html>